/* Fonts */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --footer-background-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --background-grey-light: #E5E5E5;
  --special-green: #91C92F;
  --background-input-form: #F2F2F2;
  --filter-title-grey: #DCDCDC;
  --pagination-grey: #EBEBEB;
  --pagination-button: #D9D9D9;
  --button-text-opacity: rgba(0, 0, 0, 0.3);

  --buttons-yellow-dark: #F0C52E;
  --svg-navigation-icons: #FFC600;
  --background-yellow: #F7E296;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display-none {
  display: none;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Main header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-inner-page {
  margin-bottom: 44px;
}


/* Main navigation */

.main-header-logo {
  margin-left: 60px;
}

.main-navigation {
  font-size: 15px;
  line-height: 20px;
  color: inherit;
  height: 320px;
  background: linear-gradient(180deg, var(--basic-white) 6%, var(--background-yellow) 6%);
}

.header-site-navigation {
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  max-width: 500px;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.header-site-navigation a {
  display: block;
  text-decoration: none;
  color: inherit;
}


/* Header-first-level */

.header-first-level {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 23px 60px 50px 60px;
}

.search-button {
  position: relative;
  padding-left: 36px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: var(--basic-black);
  font-size: 15px;
  line-height: 20px;

  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;

  max-width: 440px;
}

.search-button button {
  text-transform: uppercase;
}

.search-button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.login-link {
  position: relative;
  margin-right: 216px;
  padding-left: 22px;
}

.login-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.sign-in-link {
  position: relative;
  padding-left: 22px;
  margin-right: 20px;
}

.sign-in-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.sign-out-link {
  margin-right: 66px;
}



.compare-link {
  position: relative;
  margin-right: 41px;
  padding-left: 26px;
}

.compare-link:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.cart-link {
  position: relative;
  padding-left: 23px;
}

.cart-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}


.login-link:hover,
.login-link:focus,
.sign-in-link:hover,
.sign-in-link:focus,
.compare-link:hover,
.compare-link:focus,
.cart-link:hover,
.cart-link:focus {
  opacity: 0.6;
}

.login-link:active,
.sign-in-link:active,
.compare-link:active,
.cart-link:active {
  opacity: 0.3;
}

.sign-out-link {
  opacity: 0.3;
}


/* Header-second-level */

.header-second-level {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 18px;
}

.main-menu {
  outline: 5px solid rgba(0, 38, 255, 0.425);
  outline-offset: -5px;
  width: 100%;
}

.main-menu a {
  text-decoration: none;
  color: inherit;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.main-menu-list li {
  display: block;
}

.main-menu-list a:not(.catalog-item) {
  letter-spacing: 0.2em;
}

.catalog {
  position: relative;
  padding-right: 34px;
}

.catalog::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.delivery {
  margin-left: 286px;
}

.warranty {
  margin-left: 35px;
}

.main-menu-list li:last-child {
  margin-left: auto;
}


.catalog,
.delivery,
.warranty,
.contacts {
  text-transform: uppercase;
  list-style: none;
}

.catalog:hover,
.catalog:focus {
  opacity: 0.6;
}

.catalog:active {
  opacity: 0.3;
}

.delivery:hover,
.delivery:focus {
  opacity: 0.6;
}

.delivery:active {
  opacity: 0.3;
}

.warranty:hover,
.warranty:focus {
  opacity: 0.6;
}

.warranty:active {
  opacity: 0.3;
}

.contacts:hover,
.contacts:focus {
  opacity: 0.6;
}

.contacts:active {
  opacity: 0.3;
}

.header-catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.header-catalog-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
}

.header-catalog-item:hover,
.header-catalog-item:focus {
  opacity: 0.6;
}

.header-catalog-item:active {
  opacity: 0.3;
}


/* Slider */

.slider {
  position: relative;
  bottom: 96px;

  outline: 5px solid rgba(0, 38, 255, 0.425);
  outline-offset: -5px;
  margin-bottom: 96px;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide-1 {
  display: flex;
  justify-content: space-between;
  margin-right: 82px;
  margin-left: 89px;
}

.slide-1 img {
  margin-top: -33px;
}


.slide-description {
  width: 478px;
  position: relative;
}

.slide-description::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.topic {
  font-size: 47px;
  line-height: 58px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.topic-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin-top: -4px;
  margin-bottom: 60px;
}

.slider-button {
  position: relative;
  margin-bottom: 60px;
}

.feature {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

tbody {
  display: flex;
  flex-direction: column;
}

tr {
  display: flex;
}


/*td:last-child,
th:last-child{
  margin-right: 0;
}*/

.characteristics {
  font-size: 36px;
  line-height: 42px;
}

.description {
  font-size: 13px;
  line-height: 15px;
}

.description th {
  font-weight: 300;
}

/*Category */

.category {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  margin-bottom: 49px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  width: 160px;
}

.category-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.05em;

  text-align: center;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}


/* Service */

.service {
  margin-bottom: 90px;
  background: linear-gradient(180deg, var(--basic-white) 26%, var(--background-grey-light) 1%);

  outline: 5px solid rgba(15, 194, 69, 0.7);
  outline-offset: -5px;

  height: 388px;
}

.service-wrapper {
  display: flex;
  justify-content: space-between;
}

.service-aside-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
}



.service-list {
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
  width: 760px;
  list-style: none;
}

.service-head {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 71px;
  margin-bottom: 40px;
}

.service-info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
}


/* Brands */

.brands {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
  list-style: none;

  outline: 5px solid rgba(74, 36, 145, 0.7);
  outline-offset: -5px;
}


/* Information */

.info-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.info-decoration-line {
  position: relative;
}

.info-decoration-line::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.info-columns h2 {
  margin: 57px 0 40px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info-columns p {
  margin-top: 0;
}

.about-us {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  width: 473px;
}

.about-us-info-first-paragraph {
  margin-bottom: 40px;
}

.about-us-info-second-paragraph {
  margin-bottom: 60px;
}

.transport-company {
  margin-bottom: 84px;
  align-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.transport-company li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 15px;
}

.transport-company li:last-child {
  margin-bottom: 0;
}

.transport-company li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  border: 2px solid var(--background-grey-light);
  border-radius: 8px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
}

.about-us button {
  margin-top: 16%;
}


.write-us {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
  width: 560px;
}

.write-us-info {
  margin-bottom: 40px;
}

.write-us img {
  margin-bottom: 85px;
}

.write-us button {
  margin-top: -1%;
}


.about-us-info,
.write-us-info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  text-transform: none;
}

/* Button */

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: inherit;
  vertical-align: top;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.2em;
  width: 220px;
  outline: none;
}

.button-narrow {
  width: 160px;
}

.button-wide {
  width: 260px;
}

.button-send {
  width: 200px;
}

.button:active {
  opacity: 0.3;
}



/* Main footer */

.main-footer {
  color: var(--basic-white);
  background-color: var(--footer-background-dark);
  padding-bottom: 1px;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

}

.main-footer a {
  color: var(--basic-white);
  text-decoration: none;
  list-style: none;
}


/* Footer-first-level */

.footer-logo {
  width: 163px;
  height: 35px;
  margin-top: 64px;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin-top: 46px;

  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;

  width: 423px;
}

.footer-site-navigation-sign-in {
  width: 478px;
}

.footer-site-navigation a {
  display: block;
  opacity: 0.7;
}


.footer-first-level {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-login-link {
  position: relative;
  padding-left: 22px;
}

.footer-login-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-image: url("../img/user_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.footer-sign-in-link {
  position: relative;
  padding-left: 22px;
}

.footer-sign-in-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-image: url("../img/user_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}


.footer-sign-out-link {
  margin-left: 24px;
}

.footer-compare-link {
  position: relative;
  margin-left: 42px;
  padding-left: 26px;
}

.footer-compare-link:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-image: url("../img/compare_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.footer-cart-link {
  position: relative;
  margin-left: 40px;
  padding-left: 22px;
}

.footer-cart-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-image: url("../img/cart_footer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.footer-login-link:hover::before,
.footer-login-link:focus::before,
.footer-sign-in-link:hover::before,
.footer-sign-in-link:focus::before,
.footer-sign-out-link:hover::before,
.footer-sign-out-link:focus::before,
.footer-compare-link:hover::before,
.footer-compare-link:focus::before,
.footer-cart-link:hover::before,
.footer-cart-link:focus::before {
  opacity: 0.6;
}

.footer-login-link:active::before,
.footer-sign-in-link:active::before,
.footer-sign-out-link:active::before,
.footer-compare-link:active::before,
.footer-cart-link:active::before {
  opacity: 0.3;
}


/*Footer-second-level*/

.footer-second-level {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  align-items: baseline;
}

.footer-menu {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-right: 40px;
  outline: 5px solid rgba(165, 14, 145, 0.7);
  outline-offset: -5px;

  width: 423px;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu-list a {
  display: block;
}


.footer-adress {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  max-width: 212px;

  outline: 5px solid rgba(35, 17, 196, 0.7);
  outline-offset: -5px;
}

.contacts-phone {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  outline: 5px solid rgba(19, 121, 161, 0.7);
  outline-offset: -5px;

  max-width: 164px;
}


/*Footer-third-level*/

.footer-third-level {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 65px;
  margin-bottom: 64px;
}

.footer-third-level::before {
  position: absolute;
  content: "";
  left: 0;
  top: 34%;
  width: 80px;
  height: 7px;
  background-color: var(--svg-navigation-icons);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.footer-social {
  text-align: center;
  margin-left: 512px;

  outline: 5px solid rgba(21, 182, 16, 0.7);
  outline-offset: -5px;

  max-width: 136px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 136px;
}

.footer-social-list a {
  margin-right: 20px;
}

.footer-copywrite {
  outline: 5px solid rgba(87, 6, 104, 0.7);
  outline-offset: -5px;
  margin-left: auto;
}



/* Hover */

.main-header-logo:hover,
.main-header-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active,
.footer-logo:active {
  opacity: 0.3;
}


.footer-login-link:hover,
.footer-login-link:focus,
.footer-sign-in-link:hover,
.footer-sign-in-link:focus,
.footer-sign-out-link:hover,
.footer-sign-out-link:focus,
.footer-compare-link:hover,
.footer-compare-link:focus,
.footer-cart-link:hover,
.footer-cart-link:focus {
  opacity: 1;
}


.footer-login-link:active,
.footer-sign-in-link:active,
.footer-sign-out-link:active,
.footer-compare-link:active,
.footer-cart-link:active {
  opacity: 0.3;
}


.footer-delivery:hover,
.footer-delivery:focus {
  opacity: 0.6;
}

.footer-delivery:active {
  opacity: 0.3;
}

.footer-warranty:hover,
.footer-warranty:focus {
  opacity: 0.6;
}

.footer-warranty:active {
  opacity: 0.3;
}

.footer-contacts:hover,
.footer-contacts:focus {
  opacity: 0.6;
}

.footer-contacts:active {
  opacity: 0.3;
}


/* Social button */

.social-button {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-copywrite:hover,
.footer-copywrite:focus {
  opacity: 0.6;
}

.footer-copywrite:active {
  opacity: 0.3;
}


/* Modal */

.modal {
  color: var(--basic-black);
}

.name,
.email,
.text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black)
}

.input-name,
.input-email,
.input-letter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  opacity: 0.4;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--background-input-form);
}


/* Catalog-page */

.page-catalog {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.page-catalog-head {
  display: flex;
  flex-direction: column;
}

.page-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  margin: 0 0 30px 60px;
  padding: 0;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Breadecrumbs */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  padding: 0;
  margin: 0 0 50px 60px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.breadcrumbs-items {
  position: relative;
  padding-right: 18px;
  margin-right: 18px;
}

.breadcrumbs-items::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 4px;
  background-image: url("../img/pagination-pointer.svg");
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}


.breadcrumbs-items {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}


/* Filter */

.filter-head-wrapper {
  background-color: var(--filter-title-grey);
}

.filter-head-wrapper .container {
  display: flex;
}

.filter-head-wrapper h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 25px 0;
  padding: 0;
}

.filter-wrapper {
  background-color: var(--background-grey-light);
}

.filter-title {
  justify-content: flex-start;
  margin-left: 60px;
  ;
  width: 328px;
}

.sort .sort-title {
  margin-left: 72px;
  margin-right: 74px;
}


.filters {
  outline: 5px solid rgba(30, 255, 0, 0.7);
  outline-offset: -5px;

  margin-left: 60px;
  width: 328px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  /*margin-bottom: 30px;*/
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter ul {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}


/* Sort */

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: var(--background-grey-light);

  outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px;
  width: 100%;
}

.sort-type-list {
  display: flex;
  list-style: none;
}

.sort-type-list a {
  text-decoration: none;
  color: var(--basic-black);
}

.sort-type {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  border: none;
  margin-right: 30px;
}

.sort-type:last-child {
  margin-right: 0;
}

.sort-type:hover,
.sort-type:focus {
  opacity: 0.6;
}

.sort-type:active {
  opacity: 1;
}

.sort-current {
  opacity: 1;
}

.sort-button-list {
  display: flex;
  list-style: none;
}

.sort-button-up {
  width: 10px;
  height: 11px;
  background-image: url("../img/sort_decoration.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  opacity: 0.2;
}

.sort-button-down {
  width: 10px;
  height: 11px;
  transform: rotate(180deg);
  background-image: url("../img/sort_decoration.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  opacity: 0.2;
}


.sort-button-up:hover,
.sort-button-up:focus,
.sort-button-down:hover,
.sort-button-down:focus {
  opacity: 0.4;
}

.sort-button-up:active,
.sort-button-down:active {
  opacity: 1;
}

.sort-button-current {
  opacity: 1;
}


/* Button Compare */

.button-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
  opacity: 0.5;
}

.button-compare:hover,
.button-compare:focus {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}


/* Items */

.items {
  outline: 5px solid rgba(234, 0, 255, 0.7);
  outline-offset: -5px;
  width: 832px;
  margin: 70px 0 78px 72px;
}

.items a {
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 360px;
  min-height: 455px;
  margin-right: 40px;
  margin-bottom: 48px;
}

.catalog-item:last-of-type{
  margin:0;
}

.catalog-item:nth-child(even) {
  margin-right: 0;
}

.catalog-item img {
  width: 360px;
  height: 380px;
}

.catalog-item p {
  margin: 0;
}

.item-info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-top: 27px;
}


.catalog-item h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

  margin: 0;
  width: 270px;
}



.item-price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /*  letter-spacing: 0.05em;*/
  width: 80px;
}


/* Pagination */

.pagination-box {
  margin-top: 40px;
  width: 760px;
  height: 70px;
  background-color: var(--pagination-grey);
}

.pagination {
  display: flex;
  justify-content: center;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 30px;
  outline: 5px solid rgba(255, 251, 0, 0.9);
  outline-offset: -5px;
}

.pagination a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.pagination-button {
  margin: 25px 30px;
}

.pagination-button-number {
  opacity: 0.3;
}

.pagination-button-number:last-child {
  margin-right: 0;
}

.pagination-back {
  display: block;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 25px 30px;
}

.pagination-next {
  display: block;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 25px 30px;
}

.pagination-button-number:hover,
.pagination-button-number:focus {
  opacity: 0.6;
}

.pagination-button-number:active {
  opacity: 1;
}

.pagination-current {
  opacity: 1;
}

.pagination-back:hover,
.pagination-back:focus,
.pagination-next:hover,
.pagination-next:focus {
  background-color: var(--pagination-button);
}

.pagination-back:active,
.pagination-next:active {
  background-color: var(--pagination-button);
}

.pagination-back a:active,
.pagination-next a:active {
  opacity: 0.3;
}

/* Grid */

.page {
  height: 100%;
}
