/* Fonts */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --footer-background-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --background-grey-light: #E5E5E5;
  --background-yellow: #F7E296;
  --special-green: #91C92F;
  --buttons-yellow-dark: #F0C52E;
  --background-input-form: #F2F2F2;
  --filter-title-grey: #DCDCDC;
  --pagination-grey: #EBEBEB;
  --pagination-button: #D9D9D9;
  --button-text-opacity: rgba(0, 0, 0, 0.3);
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-inner-page {
  margin-bottom: 44px;
}

.hidden {
  display: none;
}

/* Main navigation */

.main-navigation-wrapper {
  background-color: var(--background-yellow);
}

.main-navigation {
  font-size: 15px;
  line-height: 20px;
  color: inherit;
}

.header-site-navigation {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;

  display: grid;
  grid-auto-flow: column;
}

.header-site-navigation a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding-top: 44px;
}


/* Header-grid */

.header-first-level {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-second-level {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
}


.login-link:hover,
.login-link:focus {
  opacity: 0.6;
}

.login-link:active {
  opacity: 0.3;
}

.sign-out-link {
  opacity: 0.3;
}

.compare-link:hover,
.compare-link:focus {
  opacity: 0.6;
}

.compare-link:active {
  opacity: 0.3;
}

.cart-link:hover,
.cart-link:focus {
  opacity: 0.6;
}

.cart-link:active {
  opacity: 0.3;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}


/* Menu */

.main-menu {
  outline: 5px solid rgba(0, 38, 255, 0.425);
  outline-offset: -5px;
}

.main-menu a {
  text-decoration: none;
  color: inherit;
}

.main-menu-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog,
.delivery,
.warranty,
.contacts {
  text-transform: uppercase;
  list-style: none;
}

.catalog:hover,
.catalog:focus {
  opacity: 0.6;
}

.catalog:active {
  opacity: 0.3;
}

.delivery:hover,
.delivery:focus {
  opacity: 0.6;
}

.delivery:active {
  opacity: 0.3;
}

.warranty:hover,
.warranty:focus {
  opacity: 0.6;
}

.warranty:active {
  opacity: 0.3;
}

.contacts:hover,
.contacts:focus {
  opacity: 0.6;
}

.contacts:active {
  opacity: 0.3;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.catalog-item {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
}

.catalog-item:hover,
.catalog-item:focus {
  opacity: 0.6;
}

.catalog-item:active {
  opacity: 0.3;
}


/* Slider */

.slider {
  outline: 5px solid rgba(0, 38, 255, 0.425);
  outline-offset: -5px;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topic {
  font-size: 47px;
  line-height: 58px;
}

.topic-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.feature {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.characteristics {
  font-size: 36px;
  line-height: 42px;
}

.description {
  font-size: 13px;
  line-height: 15px;
}

.description th {
  font-weight: 300;
}

/*Category */

.category {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  margin-bottom: 49px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;

}

.category-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.05em;

  text-align: center;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}


/* Service */

.service {
  background-color: var(--background-grey-light);

  outline: 5px solid rgba(15, 194, 69, 0.7);
  outline-offset: -5px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 90px;
}

.service-head {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service-info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
}


/* Brands */

.brands {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-bottom: 90px;

  outline: 5px solid rgba(74, 36, 145, 0.7);
  outline-offset: -5px;
}

/* Information */

.info-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 86px;
}

.about-us {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.write-us {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.about-us-head,
.write-us-head {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us-info,
.write-us-info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  text-transform: none;
}

.transport-company {
  font-size: 16px;
  line-height: 28px;
}


/* Button */

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: inherit;
  vertical-align: top;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.2em;
  width: 220px;
  outline: none;
}

.button-narrow {
  width: 160px;
}

.button-wide {
  width: 260px;
}

.button-send {
  width: 200px;
}

.button:active {
  opacity: 0.3;
}

.search-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  color: var(--basic-black);
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;

  max-width: 440px;
  padding-top: 44px;
}

/* Main footer */

.main-footer {
  color: var(--basic-white);
  background-color: var(--footer-background-dark);

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

  display: grid;
}

.main-footer a {
  color: var(--basic-white);
  text-decoration: none;
  list-style: none;
}

/* Footer-site-navigation */

.footer-logo {
  justify-self: start;
}

.footer-site-navigation {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding-top: 46px;
  margin-top: 0;

  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;

  max-width: 325px;

  display: grid;
  grid-auto-flow: column;
}

.footer-site-navigation a {
  opacity: 0.7;
}


/* Footer-grid */

.footer-first-level {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.footer-second-level {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-third-level {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* Footer-hover */

.footer-login-link:hover,
.footer-login-link:focus {
  opacity: 1;
}

.footer-login-link:active {
  opacity: 0.3;
}

.footer-sign-out-link:hover,
.footer-sign-out-link:focus {
  opacity: 1;
}

.footer-sign-out-link:active {
  opacity: 0.3;
}

.footer-compare-link:hover,
.footer-compare-link:focus {
  opacity: 1;
}

.footer-compare-link:active {
  opacity: 0.3;
}

.footer-cart-link:hover,
.footer-cart-link:focus {
  opacity: 1;
}

.footer-cart-link:active {
  opacity: 0.3;
}

.footer-delivery:hover,
.footer-delivery:focus {
  opacity: 0.6;
}

.footer-delivery:active {
  opacity: 0.3;
}

.footer-warranty:hover,
.footer-warranty:focus {
  opacity: 0.6;
}

.footer-warranty:active {
  opacity: 0.3;
}

.footer-contacts:hover,
.footer-contacts:focus {
  opacity: 0.6;
}

.footer-contacts:active {
  opacity: 0.3;
}

/* Footer-adress */

.footer-adress {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  max-width: 212px;
  justify-self: start;

  outline: 5px solid rgba(35, 17, 196, 0.7);
  outline-offset: -5px;
}

/* Footer-menu */

.footer-menu {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  outline: 5px solid rgba(165, 14, 145, 0.7);
  outline-offset: -5px;

  max-width: 423px;

  justify-self: center;
}

.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-auto-flow: column;
}

.footer-menu-list a {
  padding-right: 36px;
}


.footer-social {
  text-align: center;

  outline: 5px solid rgba(21, 182, 16, 0.7);
  outline-offset: -5px;

  max-width: 136px;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-auto-flow: column;
  justify-self: center;
}

.footer-social-list a {
  margin-right: 20px;
}

.footer-copywrite {
  outline: 5px solid rgba(87, 6, 104, 0.7);
  outline-offset: -5px;

  justify-self: end;
}

/* Social button */

.social-button {
  opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-copywrite:hover,
.footer-copywrite:focus {
  opacity: 0.6;
}

.footer-copywrite:active {
  opacity: 0.3;
}


/* Contacts */

.contacts-phone {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  outline: 5px solid rgba(19, 121, 161, 0.7);
  outline-offset: -5px;

  max-width: 164px;

  justify-self: end;
}


/* Modal */

.modal {
  color: var(--basic-black);
}

.name,
.email,
.text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black)
}

.input-name,
.input-email,
.input-letter {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  opacity: 0.4;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--background-input-form);
}


/* Catalog-page */

.page-catalog {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;

  display: grid;
  grid-template-columns: 330px 1fr;

}

.page-catalog-head{
 grid-column: 1 / -1;
}

.page-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Breadecrumbs */

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;

  margin-bottom: 50px;
  outline: 5px solid rgba(0, 0, 255, 0.7);
  outline-offset: -5px;
}

.breadcrumbs a {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}


/* Filter */

.filter-wrapper {
  background-color: var(--background-grey-light);
}

.filter-title,
.sort-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-title {
  background-color: var(--filter-title-grey);

  grid-column: 1 / 2;
}

.filters {
  outline: 5px solid rgba(30, 255, 0, 0.7);
  outline-offset: -5px;

  width: 330px;
}

.filter legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter ul {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
}


/* Sort */

.sort {
  background-color: var(--background-grey-light);

  outline: 5px solid rgba(4, 0, 255, 0.7);
  outline-offset: -5px;

  width: 830px;
}

.sort-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  border: none;
}

.sort button:hover,
.sort button:focus {
  opacity: 0.6;
}

.sort button:active {
  opacity: 1;
}

.sort-current {
  opacity: 1;
}

/* Button Compare */

.button-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
  opacity: 0.5;
}

.button-compare:hover,
.button-compare:focus {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}


/* Items */

.items {
  outline: 5px solid rgba(234, 0, 255, 0.7);
  outline-offset: -5px;

  margin-left: 70px;

}

.item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;

}

.items a {
  text-decoration: none;
  list-style: none;
  color: var(--basic-black);
}

.item-price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}


/* Pagination */

.pagination-box{
  margin-bottom: 78px;
}

.pagination {
  background-color: var(--pagination-grey);
  list-style: none;
  margin: 0;
  padding: 0;

  outline: 5px solid rgba(255, 251, 0, 0.9);
  outline-offset: -5px;

  width: 760px;
}

.pagination a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.pagination-button {
  opacity: 0.3;
}

.pagination-button:hover,
.pagination-button:focus {
  opacity: 0.6;
}

.pagination-button:active {
  opacity: 1;
}

.pagination-current {
  opacity: 1;
}

.pagination-back:hover,
.pagination-back:focus,
.pagination-next:hover,
.pagination-next:focus {
  background-color: var(--pagination-button);
}

.pagination-back:active,
.pagination-next:active {
  background-color: var(--pagination-button);
  color: var(--button-text-opacity)
}

/* Grid */

.page {
  height: 100%;
}
